<footer>
    <div class="container">
        <div class="d-flex">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                    <a href="">Terms and Conditions</a>
                </li>
                <li class="list-group-item">
                    <a href="">Privacy Policy</a>
                </li>
                <li class="list-group-item">
                    <a href="">Contact Us</a>
                </li>
            </ul>
            <p>Follow Us</p>
        </div>
    </div>    
</footer>