/*------------------------------------*\
  Transversal Elements
  #Styles for buttons
\*------------------------------------*/

.btn {
  border-radius: 0;
}

.btn-primary-custom {
  background-color: rgba($c-primary, 0.8);
  border: none;
  color: $white ;
}
.btn-primary-real {
  &:hover {
    background-color: darken($color: $c-primary, $amount: 10%);
  }
}
.btn-secondary-real {
  &:hover {
    background-color: darken($color: $c-secondary, $amount: 10%);
  }
}

.btn-secondary-custom {
  background-color: rgba($c-secondary, 0.8);
  border: none;
  color: $white ;
}

.outline {
  border: 1px solid $white;
  background-color: transparent;
  color: $white;
  font-size: 14px;
}

.btn-thumb {
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.white-border {
  border: 1px solid $white;
}