/*------------------------------------*\
  Transversal Elements
  #Styles for texts
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  color: $c-text;
  font-family: 'Lato', sans-serif;
}

h1,
.h1 {
    @include font-rem(35px);
    @include line-height(47px);
    font-weight: 300;
    font-weight: bold;
}