h1 {
  color: #333333;
  margin-top: 50px;
}

.container-fluid.header__background{
  height: 100px;
  margin-left: -15;
  margin-right: -15px;
  background-color: #333333;
  position: absolute;
  top: 0;
}
.container {
  height: 65vh;
}