<div class="container-fluid">
    <div class="home__top-banner">
      <div class="container__img-pope">
        <img class="img-pope" src="\assets\img\image-francisco.jpg" alt="image pope Francisco">  
      </div>
      <div class="container">
        <div class="col-md-6 col-lg-5  info-box">
          <div class="container-blur p-4">
            <small>Whats your opinion on</small>
            <h3>Pope Francis?</h3>
            <p>He’s talking tough on clergy sexual abuse but is he just another papal pervert protector? 
              (thumbs down) or a thrue pedophile punishing pontiff? (thumbs up)</p>
            <a href="">More information</a>
            <p>What's your Verdict?</p>
          </div>
          <button type="button" class="btn btn-primary col-6" color="primary"><span class="icon-thumbs-up"></span></button>
          <button type="button" class="btn btn-secondary col-6" color="secondary"><span class="icon-thumbs-down"></span></button>
        </div>
      </div>
    </div>    
</div>