<!-- Top Banner -->
<div class="container-fluid">
    <div class="home__top-banner mb-33px">
      <div class="container__img-pope">
        <img class="img-pope" src="\assets\img\image-francisco.jpg" alt="image pope Francisco">  
      </div>
      <div class="container">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5  info-box p-md-0">
          <div class="container-blur p-4">
            <small>Whats your opinion on</small>
            <h3>Pope Francis?</h3>
            <p>He’s talking tough on clergy sexual abuse but is he just another papal pervert protector? 
              (thumbs down) or a thrue pedophile punishing pontiff? (thumbs up)</p>
            <a href="">More information</a>
            <p>What's your Verdict?</p>
          </div>
          <button type="button" class="btn-primary-custom col-6" color="primary"><span class="icon-thumbs-up"></span></button>
          <button type="button" class="btn-secondary-custom col-6" color="secondary"><span class="icon-thumbs-down"></span></button>
        </div>        
      </div>
    </div>    
</div>

<!-- Text section -->
<div class="container">
  <div class="row">
    <div class="container__text d-flex align-items-center mb-33px margin-adjust">
      <div class="container__text_1 p-4">
        <p>Speak out. Be heard.</p>
        <p><strong>Be counted</strong></p>
      </div>
      <div class="container__text_2 px-4 pl-md-0 pb-4 pb-md-0">
        <p>
          Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely.
          It's easy: You share your opinion, we analyze and put the data in a public report.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Main content / Votes -->  
<div class="container">
  <div class="home__main-content">
    <div class="row">
      <h2 class="col-12 mb-33px">Votes</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="" src="\assets\img\image-kanye.jpg" alt="image Kanye West">
        <div class="content__info">
          <h3 class="info__name"></h3>
          <small class="info__time"></small>
          <p class="info__description"></p>
          <div class="d-flex buttons-row">
            <button type="button" class="btn-primary-custom btn-thumb thumb-up" color="primary"><span class="icon-thumbs-up"></span></button>
            <button type="button" class="btn-secondary-custom btn-thumb thumb-down" color="secondary"><span class="icon-thumbs-down"></span></button>
            <button type="button" class="outline px-3 btn-vote">Vote now</button>
          </div>
        </div>
        <span class="total-thumb btn-primary-custom btn-thumb"><span class="icon-thumbs-up"></span></span>
        <div class="votes-percentage d-flex">
          <div class="btn-primary-custom width-64 d-flex align-items-center pl-2">
            <span class="icon-thumbs-up px-2"></span>64%
          </div>
          <div class="btn-secondary-custom width-36 d-flex align-items-center justify-content-end pr-2">
            36% <span class="icon-thumbs-down px-2"></span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <img class="" src="\assets\img\image-zuckerberg.jpg" alt="image Mark Zuckerberg">  
        <div class="content__info">
          <h3 class="info__name"></h3>
          <small class="info__time"></small>
          <p class="info__description">Thank you for voting!.</p>
          <div class="d-flex buttons-row">
            <button type="button" class="btn-primary-custom btn-thumb thumb-up" color="primary"><span class="icon-thumbs-up"></span></button>
            <button type="button" class="btn-secondary-custom btn-thumb thumb-down" color="secondary"><span class="icon-thumbs-down"></span></button>
            <button type="button" class="outline px-3 btn-vote">Vote now</button>
          </div>
        </div>
        <span class="total-thumb btn-secondary-custom btn-thumb"><span class="icon-thumbs-down"></span></span>
        <div class="votes-percentage d-flex">
          <div class="btn-primary-custom width-36 d-flex align-items-center pl-2">
            <span class="icon-thumbs-up px-2"></span>36%
          </div>
          <div class="btn-secondary-custom width-64 d-flex align-items-center justify-content-end pr-2">
            64% <span class="icon-thumbs-down px-2"></span>
          </div>
        </div> 
      </div>

      <div class="col-md-6">
        <img class="" src="\assets\img\image-kirchner.jpg" alt="image Cristina Fernández de Kirchner"> 
        <div class="content__info">
          <h3 class="info__name"></h3>
          <small class="info__time"></small>
          <p class="info__description"></p>
          <div class="d-flex buttons-row">
            <button type="button" class="btn-primary-custom btn-thumb thumb-up" color="primary"><span class="icon-thumbs-up"></span></button>
            <button type="button" class="btn-secondary-custom btn-thumb thumb-down" color="secondary"><span class="icon-thumbs-down"></span></button>
            <button type="button" class="outline px-3 btn-vote">Vote now</button>
          </div>
        </div>
        <span class="total-thumb btn-secondary-custom btn-thumb"><span class="icon-thumbs-down"></span></span>
        <div class="votes-percentage d-flex">
          <div class="btn-primary-custom width-36 d-flex align-items-center pl-2">
            <span class="icon-thumbs-up px-2"></span>36%
          </div>
          <div class="btn-secondary-custom width-64 d-flex align-items-center justify-content-end pr-2">
            64% <span class="icon-thumbs-down px-2"></span>
          </div>
        </div> 
      </div>

      <div class="col-md-6">
        <img class="" src="\assets\img\image-malala.jpg" alt="image Malala Youfsafzai">  
        <div class="content__info">
          <h3 class="info__name"></h3>
          <small class="info__time"></small>
          <p class="info__description"></p>
          <div class="d-flex buttons-row">
            <button type="button" class="btn-primary-custom btn-thumb thumb-up" color="primary"><span class="icon-thumbs-up"></span></button>
            <button type="button" class="btn-secondary-custom btn-thumb thumb-down" color="secondary"><span class="icon-thumbs-down"></span></button>
            <button type="button" class="outline px-3 btn-vote">Vote now</button>
          </div>
        </div>
        <span class="total-thumb btn-primary-custom btn-thumb"><span class="icon-thumbs-up"></span></span>
        <div class="votes-percentage d-flex">
          <div class="btn-primary-custom width-64 d-flex align-items-center pl-2">
            
          </div>
          <div class="btn-secondary-custom width-36 d-flex align-items-center justify-content-end pr-2">
            36% <span class="icon-thumbs-down px-2"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form action="">
  <div class="btn-group btn-group-toggle" >
    <div class="llenar-color">
      <div class="llenar-color-dentro llenar-1"><span class="icon-thumbs-up px-2"></span>64%</div>
      <div class="llenar-color-dentro llenar-2" style="background-color: red;">36%<span class="icon-thumbs-down px-2"></span></div>
    </div>
    <div class="llenar-color">
      <div class="llenar-color-dentro llenar-1"><span class="icon-thumbs-up px-2"></span>64%</div>
      <div class="llenar-color-dentro llenar-2" style="background-color: red;">36%<span class="icon-thumbs-down px-2"></span></div>
    </div>
    <div class="llenar-color">
      <div class="llenar-color-dentro llenar-1"><span class="icon-thumbs-up px-2"></span>64%</div>
      <div class="llenar-color-dentro llenar-2" style="background-color: red;">36%<span class="icon-thumbs-down px-2"></span></div>
    </div>
    <div class="llenar-color">
      <div class="llenar-color-dentro llenar-1"><span class="icon-thumbs-up px-2"></span>64%</div>
      <div class="llenar-color-dentro llenar-2" style="background-color: red;">36%<span class="icon-thumbs-down px-2"></span></div>
    </div>
  </div>
</form>
